Repository robinsonaarond/widget-factory: changes, and which lefthook commands are due for each by the changed paths.
All: css, standard, erb

css:
  run: yarn prettier --check "app/**/*.{css,scss}"

standard:
  run: bundle exec standardrb

erb:
  run: bundle exec erblint --format compact --lint-all --enable-linters space_around_erb_tag,extra_newline

Fix CTA button overflow OT-139
  app/components/tips/tips_component.html.erb
Due: erb

Open CTA URL in new tab
  app/components/tips/tips_component.html.erb
Due: erb

Add jwt authentication; Add status routes
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/api/jwt_controller.rb
  app/controllers/application_controller.rb
  app/controllers/status_controller.rb
  app/lib/json_web_token.rb
  config/environments/dev_integration.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/environments/uat.rb
  config/routes.rb
Due: standard

Fix failing tests
  test/fixtures/widgets.yml
Due: none

Remove excess padding on smaller screens
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Remove todo
  app/lib/json_web_token.rb
Due: standard

Change "Add" button to "Add Widget" OT-146
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Add component tests OT-147
  test/components/hurdlr/hurdlr_component_test.rb
  test/components/list_trac/list_trac_component_test.rb
  test/components/tips/tips_component_test.rb
  test/fixtures/files/logo.png
Due: standard

Add widget model test OT-147
  test/models/widget_test.rb
Due: standard

Fix widget fixture and widget test
  test/fixtures/widgets.yml
  test/models/widget_test.rb
Due: standard

Add API controllers tests OT-148
  Gemfile
  Gemfile.lock
  test/controllers/api/jwt_controller_test.rb
  test/controllers/api/user_widgets_controller_test.rb
  test/controllers/api/widgets_controller_test.rb
  test/test_helper.rb
Due: standard

Add component tests for widget_panel OT-149
  app/components/widget_panel/widget_panel_component.rb
  test/components/widget_panel/widget_panel_component_test.rb
  test/fixtures/widgets.yml
Due: standard

Add better handling/timeouts for API requests OT-150
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.rb
Due: standard

Show different error message for connection errors OT-150
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Add components tests for @error_with_api OT-150
  test/components/hurdlr/hurdlr_component_test.rb
  test/components/list_trac/list_trac_component_test.rb
Due: standard

Fix exception when session is present
  app/components/widget_panel/widget_panel_component.rb
Due: standard

Set up sidekiq and EventLoggerJob OT-152
  Gemfile
  Gemfile.lock
  apdev.yml
  app/controllers/api/jwt_controller.rb
  app/controllers/application_controller.rb
  app/models/resource/auth.rb
  app/models/user.rb
  app/sidekiq/event_logger_job.rb
  config/application.rb
  config/environments/dev_integration.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/environments/uat.rb
  config/initializers/sidekiq.rb
  config/initializers/wms_svc_consumer.rb
  config/redis.yml
  config/routes.rb
  test/controllers/api/jwt_controller_test.rb
  test/test_helper.rb
Due: standard

Add Widget.log_event! method
  app/models/session.rb
  app/models/widget.rb
Due: standard

Add office_uuid to event
  app/models/session.rb
  app/sidekiq/event_logger_job.rb
Due: standard

Do not try to read session in model
  app/models/widget.rb
Due: standard

Revert previous formatting changes
  apdev.yml
Due: none

Rename "Add Widget" to "Add/Remove Widgets" OT-157
  app/assets/stylesheets/widget_panel/style.css
  app/components/widget_panel/widget_panel_component.html.erb
Due: css, erb

Add event logging to widgets OT-153
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/tips/tips_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
  app/controllers/api/events_controller.rb
  config/routes.rb
Due: standard, erb

Show all active widgets until removed OT-158
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
  app/controllers/api/user_widgets_controller.rb
  app/models/widget.rb
  config/routes.rb
  db/migrate/20230419155013_add_removed_to_user_widgets.rb
  db/schema.rb
  test/controllers/api/user_widgets_controller_test.rb
  test/controllers/api/widgets_controller_test.rb
  test/fixtures/user_widgets.yml
  test/fixtures/widgets.yml
Due: standard, erb

Fix console errors in library
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/tips/tips_component.html.erb
Due: erb

Fix bad variables
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.rb
Due: standard

Fix active widget filtering OT-161
  app/components/widget_panel/widget_panel_component.rb
Due: standard

Do not raise exception if API error logging fails
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.rb
Due: standard

Swap out list_trac placeholder illustration OT-174
  app/assets/images/design-tools.svg
  app/assets/images/design-version-control.svg
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Factor out base ApplicationComponent
  app/components/application_component.rb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.rb
  app/components/tips/tips_component.rb
Due: standard

Associate add/remove events with affected widget
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Log load events for widget panel widgets
  app/components/widget_panel/widget_panel_component.rb
Due: standard

Use new widget event types instead of nucleus
  app/sidekiq/event_logger_job.rb
Due: standard

Log events passed via postMessage
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Do not generate list_trac token twice
  app/components/list_trac/list_trac_component.rb
Due: standard

Update redis.yml
  config/redis.yml
Due: none

Remove widget_panel row and internal column
  app/components/widget_panel/widget_panel_component.rb
  app/controllers/api/widgets_controller.rb
  db/migrate/20230601140449_delete_widget_panel_widget.rb
  db/migrate/20230601141140_remove_interal_from_widgets.rb
  db/schema.rb
  db/seeds.rb
  test/fixtures/widgets.yml
Due: standard

Allow log_event for component without widget
  app/components/application_component.rb
  app/components/widget_panel/widget_panel_component.rb
  app/controllers/api/events_controller.rb
  app/models/widget.rb
Due: standard

Factor out inline_widget_component and JS files
  app/assets/config/manifest.js
  app/assets/images/hurdlr/logo.png
  app/assets/images/list_trac/logo.png
  app/assets/images/tips/logo.png
  app/assets/javascripts/hurdlr_component.js
  app/assets/javascripts/inline_widget_component.js
  app/assets/javascripts/list_trac_component.js
  app/assets/javascripts/tips_component.js
  app/assets/javascripts/widget_panel_component.js
  app/assets/javascripts/widget_panel_component_expanded.js
  app/components/application_component.rb
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/inline_widget_component.html.erb
  app/components/inline_widget_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/tips/tips_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
  db/migrate/20230601172732_update_default_logos.rb
Due: standard, erb

Path conditions:
  css: any of: *.{css,scss}, but not: _ck_content.scss|icons.css.scss
  standard: any of: *.rb
  erb: any of: *.{erb,html.erb}
