Repository robinsonaarond/widget-factory: changes, and which lefthook commands are due for each by the changed paths.
All: css, standard, erb

lefthook.yml:

pre-push:
  parallel: true
  commands:
    js:
      run: yarn prettier --check "app/**/*.{js,jsx,ts,tsx}"
    css:
      glob: '*.{css,scss}'
      exclude: '_ck_content.scss|icons.css.scss'
      run: yarn prettier --check "app/**/*.{css,scss}"
    standard:
      glob: '*.rb'
      run: bundle exec standardrb
    erb:
      glob: '*.{erb,html.erb}'
      run: bundle exec erblint --format compact --lint-all --enable-linters space_around_erb_tag,extra_newline

Adding View Component Gem
  Gemfile
  Gemfile.lock
Due: none

Initial component
  app/components/example_component.html.erb
  app/components/example_component.rb
  app/views/welcome/index.html.erb
  test/components/example_component_test.rb
Due: standard, erb

Dynamically instantiate component class based on path.
  Gemfile
  Gemfile.lock
  app/controllers/component_controller.rb
  app/helpers/component_helper.rb
  app/views/component/expanded.html.erb
  app/views/component/name.html.erb
  config/routes.rb
  test/controllers/component_controller_test.rb
Due: standard, erb

Initial example component. Also added the MDS CSS
  app/components/example_component.html.erb
  app/components/example_component.rb
  app/controllers/component_controller.rb
  app/views/component/expanded.html.erb
  app/views/component/name.html.erb
  app/views/layouts/application.html.erb
  app/views/welcome/index.html.erb
  config/initializers/mds_version.rb
  config/routes.rb
Due: standard, erb

Adding the JS for the MDS.
  app/views/layouts/application.html.erb
Due: erb

Small change.
  app/components/example_component.html.erb
Due: erb

Contrived test
  Gemfile.lock
  test/components/example_component_test.rb
  test/controllers/component_controller_test.rb
Due: standard

I don't think there is a need for an expanded route, yet.
  app/controllers/component_controller.rb
Due: standard

...
  config/routes.rb
Due: standard

Working on the REadme.
  README.md
Due: none

Readme work + stubbed list trac component to test dynamic route.
  README.md
  app/components/list_trac_component.html.erb
  app/components/list_trac_component.rb
  app/controllers/component_controller.rb
  test/components/list_trac_component_test.rb
Due: standard, erb

Namespaced components are now working.
  app/components/example_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/list_trac_component.html.erb
  app/components/list_trac_component.rb
  app/controllers/component_controller.rb
  test/components/example_component_test.rb
  test/components/list_trac/list_trac_component_test.rb
Due: standard, erb

To avoid font shifting I've manually added open-sans to the repro.
  app/assets/.DS_Store
  app/assets/fonts/OpenSans/OpenSans-Bold.ttf
  app/assets/fonts/OpenSans/OpenSans-BoldItalic.ttf
  app/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf
  app/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf
  app/assets/fonts/OpenSans/OpenSans-Italic.ttf
  app/assets/fonts/OpenSans/OpenSans-Light.ttf
  app/assets/fonts/OpenSans/OpenSans-LightItalic.ttf
  app/assets/fonts/OpenSans/OpenSans-Medium.ttf
  app/assets/fonts/OpenSans/OpenSans-MediumItalic.ttf
  app/assets/fonts/OpenSans/OpenSans-Regular.ttf
  app/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  app/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf
  app/assets/stylesheets/opensans.css
Due: css

Readme.
  README.md
Due: none

Moving the CSS above the CSS for the MDS so the Open-Sans font-face files can be loaded to avoid the Google Font latency.
  app/views/layouts/application.html.erb
Due: erb

Adding a package.json file
  package.json
Due: none

Adding to gitignore and adding prettier.
  .gitignore
  package.json
  yarn.lock
Due: none

Fixing prettier errors
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
Due: none

Updated readme
  README.md
Due: none

Update gemfile
  Gemfile.lock
Due: none

Updated expanded route.
  config/routes.rb
Due: standard

Getting low level caching implemented. Removing Turbolinks and Stimulus.
  Gemfile
  Gemfile.lock
  app/components/example_component.rb
  app/controllers/concerns/cachable.rb
  app/views/layouts/application.html.erb
  config/importmap.rb
  config/routes.rb
Due: standard, erb

Adding action caching. So the views are cached but the before_filters run as expected for auth.
  Gemfile
  Gemfile.lock
  app/controllers/component_controller.rb
  config/application.rb
  config/environments/development.rb
Due: standard

Cache fixes
  app/controllers/component_controller.rb
  app/controllers/concerns/cachable.rb
  config/environments/development.rb
Due: standard

Comments.
  app/controllers/component_controller.rb
Due: standard

Setting profile url in config
  app/controllers/component_controller.rb
  config/environments/production.rb
  config/environments/qa.rb
Due: standard

Adding user data to the session.
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/component_controller.rb
  app/controllers/welcome_controller.rb
  app/models/base.rb
  config/initializers/secure_request.rb
  config/routes.rb
  config/secreq.example.yml
Due: standard

Moving session logic to application controller for now.
  app/controllers/application_controller.rb
  app/controllers/component_controller.rb
Due: standard

Realized I spelled cacheable incorrectly lol
  README.md
  app/components/example_component.rb
  app/controllers/component_controller.rb
  app/controllers/concerns/cacheable.rb
  app/models/base.rb
Due: standard

Moving some code around.
  app/controllers/application_controller.rb
  app/models/session.rb
Due: standard

Updated the Readme. Added YML files for various accessors.
  .gitignore
  README.md
  app/controllers/application_controller.rb
  config/initializers/vendor_access.rb
  config/vendor_api_data.example.yml
Due: standard

Fixing standardrb issues.
  app/controllers/welcome_controller.rb
  app/models/session.rb
Due: standard

...
  app/controllers/application_controller.rb
Due: standard

Add initial implementation of list_trac widget
  app/assets/images/list_trac/logo.png
  app/assets/stylesheets/list_trac/style.css
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  config/application.rb
Due: css, standard, erb

FIxing the session data + adding convenience methods to return office, company, and board.
  app/controllers/application_controller.rb
  app/models/base.rb
  app/models/session.rb
  app/models/user.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/qa.rb
Due: standard

Adding helper methods to return data around user.
  app/helpers/component_helper.rb
Due: standard

Removing pretty prints
  app/models/session.rb
Due: standard

Fixing linting
  app/helpers/component_helper.rb
Due: standard

Checking in the caching on the profile request.
  app/models/base.rb
Due: standard

Iterate over listing data
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
Due: standard, erb
