Repository robinsonaarond/widget-factory: changes, and which lefthook commands are due for each by the changed paths.
All: css, standard, erb

css:
  run: yarn prettier --check "app/**/*.{css,scss}"

standard:
  run: bundle exec standardrb

erb:
  run: bundle exec erblint --format compact --lint-all --enable-linters space_around_erb_tag,extra_newline

Add initial implementation of hurdlr widget OT-43
  app/assets/images/hurdlr/logo.png
  app/assets/stylesheets/application.css
  app/assets/stylesheets/hurdlr/style.css
  app/assets/stylesheets/list_trac/style.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  test/components/hurdlr/hurdlr_component_test.rb
Due: css, standard, erb

Use nucleus colors
  app/assets/stylesheets/application.css
Due: css

Integrate hurdlr API
  app/components/hurdlr/hurdlr_component.rb
  config/vendor_api_data.example.yml
Due: standard

Show checkbox, etc. if "selected" query param
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Close menus when a click happens outside widget
  app/views/layouts/application.html.erb
Due: erb

Linting
  app/components/hurdlr/hurdlr_component.rb
Due: standard

Checking session ID against our CAS system to ensure a user is logged in before setting user data on the system.
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/models/resource/auth.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/routes.rb
Due: standard

Add widget_panel widget
  app/assets/stylesheets/widget_panel/style.css
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
  test/components/widget_panel/widget_panel_component_test.rb
Due: css, standard, erb

Fix hurdlr + list_trac for widget_panel embedding
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
Due: standard, erb

Comments
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Update widget library selection to match design
  app/assets/stylesheets/application.css
  app/assets/stylesheets/widget_panel/style.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: css, erb

Address overflowing bar label contrast
  app/components/hurdlr/hurdlr_component.html.erb
Due: erb

Comments
  app/controllers/application_controller.rb
Due: standard

Added tests around the user model
  config/environments/test.rb
  test/models/user_test.rb
Due: standard

Adding test around session model.
  test/models/session_test.rb
Due: standard

Testing the component controller asserting that the example component is rendered.
  test/controllers/component_controller_test.rb
Due: standard

add apdev
  .apdev/.apdev_generator.yml
  .apdev/apdev-bundle
  .apdev/apdev-console
  .apdev/apdev-install-deps
  .apdev/apdev-npm
  .apdev/apdev-setup
  .apdev/apdev-shell
  .apdev/apdev-test
  .apdev/apdev-test-system
  .buildkite/pipeline.deploy-qa.yml
  .buildkite/pipeline.yml
  .dockerignore
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  Gemfile.lock
  apdev.yml
  bin/setup
  config/database.yml
  config/environments/qa.rb
  config/initializers/secure_request.rb
  docs/apdev.md
  ops/AppDependencies
  ops/bin/run-tests.sh
  ops/bin/start-service.sh
  ops/ci/Dockerfile
  ops/ci/docker-compose.yml
  ops/dev/.bashrc
  ops/dev/.irbrc
  ops/dev/.psqlrc
  ops/dev/Dockerfile
  ops/env/base.env
  ops/puma/puma.rb
  package-lock.json
  yarn.lock
Due: standard

add prod deploy step
  .buildkite/pipeline.deploy-qa.yml
  .buildkite/pipeline.yml
Due: none

Update widgets per design changes
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Rework widget library per design changes OT-45
  app/assets/stylesheets/application.css
  app/assets/stylesheets/list_trac/style.css
  app/assets/stylesheets/widget_panel/style.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
Due: css, standard, erb

Implement drag sorting of widgets
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Fix hurdlr divide-by-zero bug
  app/components/hurdlr/hurdlr_component.html.erb
Due: erb

Fix hurdlr menu indeces
  app/components/hurdlr/hurdlr_component.html.erb
Due: erb

Fix a11y issues
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Remove extra widgets used for testing dragging
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Update widgets for admin preview functionality OT-50
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
Due: standard, erb

Add list_trac settings modal
  app/assets/stylesheets/application.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  config/routes.rb
Due: css, standard, erb

Fix intermittent modal opening issues!
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Fix list_trac not rendering in widget_panel
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Make standardrb happy
  config/initializers/secure_request.rb
  ops/dev/.irbrc
Due: standard

Working on getting listing api endpoints implemented in widget factory
  app/controllers/api/v1/listings_controller.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/routes.rb
Due: standard

Adding model calls and am removing the api endpoints.
  app/controllers/api/v1/listings_controller.rb
  app/models/listing.rb
  config/routes.rb
Due: standard

Removing the controller.
  app/controllers/api/v1/listings_controller.rb
Due: standard

Add models and migrations for widgets
  Gemfile
  Gemfile.lock
  app/assets/images/empty-state.svg
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
  app/models/user_setting.rb
  app/models/user_widget.rb
  app/models/widget.rb
  db/migrate/20230123140427_create_widgets.rb
  db/migrate/20230123140823_create_user_settings.rb
  db/migrate/20230123152924_create_user_widgets.rb
  db/schema.rb
  db/seeds.rb
  test/fixtures/user_settings.yml
  test/fixtures/user_widgets.yml
  test/fixtures/widgets.yml
  test/models/user_setting_test.rb
  test/models/user_widget_test.rb
  test/models/widget_test.rb
Due: standard, erb

Use widget logo_link_url and partner properties
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Implement user widget add/remove/reorder OT-45 OT-46
  app/assets/stylesheets/widget_panel/style.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
  app/controllers/api/user_widgets_controller.rb
  app/controllers/api/widgets_controller.rb
  app/helpers/api/user_widgets_helper.rb
  app/helpers/api/widgets_helper.rb
  config/routes.rb
  test/controllers/api/user_widgets_controller_test.rb
  test/controllers/api/widgets_controller_test.rb
Due: css, standard, erb

Update widget api/model for admin integration OT-50
  app/controllers/api/widgets_controller.rb
  app/models/widget.rb
Due: standard

Add error/loading states; Update listtrac api
  app/assets/stylesheets/list_trac/style.css
  app/assets/stylesheets/widget_panel/style.css
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
  app/components/widget_panel/widget_panel_component.html.erb
Due: css, standard, erb

Add empty state for list_trac
  app/assets/images/design-tools.svg
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Implement logo upload/remove OT-50
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/controllers/api/widgets_controller.rb
  app/models/widget.rb
  db/migrate/20230214194448_create_active_storage_tables.active_storage.rb
  db/schema.rb
  db/seeds.rb
Due: standard, erb

Path conditions:
  css: any of: *.{css,scss}, but not: _ck_content.scss|icons.css.scss
  standard: any of: *.rb
  erb: any of: *.{erb,html.erb}
