Repository robinsonaarond/widget-factory: changes, and which lefthook commands are due for each by the changed paths.
All: css, standard, erb

lefthook.yml:

pre-push:
  parallel: true
  commands:
    js:
      run: yarn prettier --check "app/**/*.{js,jsx,ts,tsx}"
    css:
      glob: '*.{css,scss}'
      exclude: '_ck_content.scss|icons.css.scss'
      run: yarn prettier --check "app/**/*.{css,scss}"
    standard:
      glob: '*.rb'
      run: bundle exec standardrb
    erb:
      glob: '*.{erb,html.erb}'
      run: bundle exec erblint --format compact --lint-all --enable-linters space_around_erb_tag,extra_newline

Replace example component with minimal test
  app/components/example_component.html.erb
  app/components/example_component.rb
  app/components/test_component.html.erb
  app/components/test_component.rb
  test/components/example_component_test.rb
  test/controllers/component_controller_test.rb
Due: standard, erb

Fix tips logEvent call
  app/assets/javascripts/tips_component.js
Due: none

Update README
  README.md
Due: none

Fix typo
  README.md
Due: none

Factor out error and spinner partials
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/hurdlr/hurdlr_component.rb
  app/components/inline_widget_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/views/component/_error.html.erb
  app/views/component/_spinner.html.erb
Due: standard, erb

Factor out expanded widget component
  app/assets/images/list_trac/logo.png
  app/assets/javascripts/expanded_widget_component.js
  app/assets/javascripts/list_trac_component_expanded.js
  app/components/expanded_widget_component.html.erb
  app/components/expanded_widget_component.rb
  app/components/list_trac/list_trac_component.html.erb
  db/migrate/20230609184001_update_list_trac_logo.rb
  db/schema.rb
Due: standard, erb

Fix slot overlap
  app/components/expanded_widget_component.html.erb
Due: erb

Add expanded widget component to README
  README.md
Due: none

Add test files for inline and expanded components
  app/components/inline_widget_component.html.erb
  test/components/expanded_widget_component_test.rb
  test/components/hurdlr/hurdlr_component_test.rb
  test/components/inline_widget_component_test.rb
  test/components/list_trac/list_trac_component_test.rb
  test/components/tips/tips_component_test.rb
Due: standard, erb

Add rismedia widget OT-205
  app/assets/images/rismedia/logo.png
  app/assets/javascripts/rismedia_component.js
  app/assets/stylesheets/rismedia/style.css
  app/components/rismedia/rismedia_component.html.erb
  app/components/rismedia/rismedia_component.rb
  db/migrate/20230608192719_add_rismedia_widget.rb
  test/components/rismedia/rismedia_component_test.rb
Due: css, standard, erb

Fix tip overflow OT-184
  app/assets/stylesheets/tips/style.css
  app/components/tips/tips_component.html.erb
Due: css, erb

Fix standardrb crashes (needed more ignores)
  .standard.yml
Due: none

Linting
  Gemfile
  app/assets/stylesheets/rismedia/style.css
  app/components/application_component.rb
  app/controllers/api/events_controller.rb
  app/controllers/api/user_widgets_controller.rb
  app/models/session.rb
  config/application.rb
  config/initializers/vendor_access.rb
  ops/dev/.irbrc
  test/controllers/api/user_widgets_controller_test.rb
  test/controllers/api/widgets_controller_test.rb
  test/test_helper.rb
Due: css, standard

Fix event_data in sidekiq job
  app/sidekiq/event_logger_job.rb
Due: standard

Create pipeline.deploy-production.yml
  .buildkite/pipeline.deploy-production.yml
Due: none

Add support for datadog
  Gemfile
  Gemfile.lock
  config/initializers/datadog.rb
Due: standard

Add support for eks env vars for datadog
  config/initializers/datadog.rb
Due: standard
