Repository robinsonaarond/widget-factory: changes, and which lefthook commands are due for each by the changed paths.
All: css, standard, erb

lefthook.yml:

pre-push:
  parallel: true
  commands:
    js:
      run: yarn prettier --check "app/**/*.{js,jsx,ts,tsx}"
    css:
      glob: '*.{css,scss}'
      exclude: '_ck_content.scss|icons.css.scss'
      run: yarn prettier --check "app/**/*.{css,scss}"
    standard:
      glob: '*.rb'
      run: bundle exec standardrb
    erb:
      glob: '*.{erb,html.erb}'
      run: bundle exec erblint --format compact --lint-all --enable-linters space_around_erb_tag,extra_newline

Sort list_trac listings
  app/components/list_trac/list_trac_component.html.erb
  app/components/list_trac/list_trac_component.rb
Due: standard, erb

Finish up list_trac for api changes
  app/assets/stylesheets/list_trac/style.css
  app/components/list_trac/list_trac_component.html.erb
Due: css, erb

Only show permitted widgets
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
Due: standard, erb

Do not clear logo when only name is changed
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Add "(Last 30 days" per design changes
  app/components/list_trac/list_trac_component.html.erb
Due: erb

Switch to user's data for list_trac
  app/components/list_trac/list_trac_component.rb
Due: standard

Hide scrollbar while dragging widgets; add padding
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Add tip widget OT-90
  app/assets/images/tips/logo.png
  app/assets/stylesheets/tips/style.css
  app/components/tips/tips_component.html.erb
  app/components/tips/tips_component.rb
  db/seeds.rb
  test/components/tips/tips_component_test.rb
Due: css, standard, erb

Wait to close Widget Library until requests finish
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Set cache path to entire url (with query params)
  app/controllers/component_controller.rb
Due: standard

Switch to single token in vendor api data
  app/components/hurdlr/hurdlr_component.rb
  config/vendor_api_data.example.yml
Due: standard

Add postMessage for CTA click
  app/components/tips/tips_component.html.erb
Due: erb

Add tip id to CTA_CLICK message
  app/components/tips/tips_component.html.erb
Due: erb

Always use demo params as fallbacks
  app/components/tips/tips_component.rb
Due: standard

Handle missing view component files
  app/components/widget_panel/widget_panel_component.html.erb
  app/components/widget_panel/widget_panel_component.rb
  app/models/widget.rb
Due: standard, erb

Added postgres DB support
  .apdev/.apdev_generator.yml
  .apdev/.generatorignore
  .apdev/apdev-console
  .apdev/apdev-knapsack-gen-report
  .apdev/apdev-rails
  .apdev/apdev-rake
  .apdev/apdev-setup
  .apdev/apdev-test
  .buildkite/pipeline.deploy-uat.yml
  .buildkite/pipeline.yml
  .dockerignore
  Gemfile
  Gemfile.lock
  README.md
  Rakefile
  apdev.yml
  bin/setup
  config/database.yml
  config/initializers/vendor_access.rb
  docs/apdev.md
  knapsack_minitest_report.json
  ops/bin/knapsack-gen-report.sh
  ops/bin/run-ci-tests.sh
  ops/bin/run-tests.sh
  ops/bin/start-filebeat.sh
  ops/bin/start-service.sh
  ops/ci/Dockerfile
  ops/ci/docker-compose.yml
  ops/dev/.irbrc
  ops/dev/Dockerfile
  ops/env/base.env
  test/test_helper.rb
Due: standard

Use prod URL for UAT; Pass MLS ID to hurdlr API
  app/components/hurdlr/hurdlr_component.rb
Due: standard

Provide fallback data values in JS
  app/components/hurdlr/hurdlr_component.html.erb
Due: erb

Remove caching from components; Prevent dupes OT-121 OT-122
  app/controllers/api/user_widgets_controller.rb
  app/controllers/component_controller.rb
Due: standard

Added staging and devint deploy to widget-factory
  .buildkite/pipeline.deploy-devint.yml
  .buildkite/pipeline.deploy-staging.yml
Due: none

Added missing environment files.
  config/environments/dev_integration.rb
  config/environments/staging.rb
  config/environments/uat.rb
Due: standard

Use Widget.logo_url OT-129
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/tips/tips_component.html.erb
Due: erb

Reran apdev generator
  ops/ci/Dockerfile
  ops/ci/docker-compose.yml
  ops/dev/Dockerfile
Due: none

Compile assets when building a docker container
  ops/ci/Dockerfile
Due: none

Fix asset compilation error
  ops/ci/Dockerfile
Due: none

Skip DB connection while generating assets
  ops/ci/Dockerfile
Due: none

Moved back the asset compilation to the build process
  ops/ci/Dockerfile
Due: none

Use rails asset helpers. Thanks @aroop!
  app/components/hurdlr/hurdlr_component.html.erb
  app/components/list_trac/list_trac_component.html.erb
  app/components/tips/tips_component.html.erb
  app/components/widget_panel/widget_panel_component.html.erb
Due: erb

Recurse css dirs for assets
  app/assets/config/manifest.js
Due: none

Wrap long strings in tip
  app/components/tips/tips_component.html.erb
Due: erb

Using S3 bucket to store the uploaded assets
  config/credentials.yml.enc
  config/environments/dev_integration.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/environments/staging.rb
  config/environments/uat.rb
  config/storage.yml
  ops/AppDependencies
Due: standard

Fix session_id -> user_uuid OT-134
  app/controllers/application_controller.rb
Due: standard

Added master key to secrets
  .apdev/.apdev_generator.yml
  .buildkite/pipeline.yml
  ops/ci/Dockerfile
  ops/ci/docker-compose.yml
Due: none

Try storage.yml format fix
  config/storage.yml
Due: none

Added aws s3 library
  Gemfile
  Gemfile.lock
Due: none

Fix assets compilation issue while deployment
  config/environments/dev_integration.rb
  config/environments/production.rb
  config/environments/qa.rb
  config/environments/staging.rb
  config/environments/uat.rb
Due: standard

Skip SSL verification for listtrac API
  app/components/list_trac/list_trac_component.rb
Due: standard

Add Widget.updated_by (& remove updated_by_uuid) OT-138
  app/controllers/api/widgets_controller.rb
  db/migrate/20230328134804_rename_updated_by_uuid_column.rb
  db/schema.rb
Due: standard
